%h2
  By Jersey Number
%h3
  1
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FAVELL
      , Doug
    %td
      G
    %td
      1967-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PARENT
      , Bernie
    %td
      G
    %td
      1967-71, 73-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WILSON
      , Dunc
    %td
      G
    %td
      1969-70
%h3
  2
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BURT
      , Adam
    %td
      D
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DAILEY
      , Bob
    %td
      D
    %td
      1976-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HATCHER
      , Derian
    %td
      D
    %td
      2005-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOWE
      , Mark
    %td
      D
    %td
      1982-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HUFFMAN
      , Kerry
    %td
      D
    %td
      1986-92, 95-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOSEPH
      , Chris
    %td
      D
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUCERA
      , Frantisek
    %td
      D
    %td
      1996-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MALAKHOV
      , Vladimir
    %td
      D
    %td
      2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TILEY
      , Brad
    %td
      D
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VAN
    %td
      D
    %td
      %span.caps
        IMPE
      , Ed
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WEINRICH
      , Eric
    %td
      D
    %td
      2001-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        YUSHKEVICH
      , Dmitry
    %td
      D
    %td
      1992-95, 02-03
%h3
  3
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BLADON
      , Tom
    %td
      D
    %td
      1972-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRIMANIS
      , Aris
    %td
      D
    %td
      1993-94, 95-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BROSSART
      , Willie
    %td
      D
    %td
      1970-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BROWN
      , Larry
    %td
      D
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CROSSMAN
      , Doug
    %td
      D
    %td
      1983-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GALLEY
      , Garry
    %td
      D
    %td
      1991-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HILLMAN
      , Larry
    %td
      D
    %td
      1969-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUKKONEN
      , Lasse
    %td
      D
    %td
      2006-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MAIR
      , Jimmy
    %td
      D
    %td
      1970-72
  %tr
    %th{ :style => "text-align:left;" }
      McGILLIS, Dan
    %td
      D
    %td
      1997-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURPHY
      , Gord
    %td
      D
    %td
      1988-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RATHJE
      , Mike
    %td
      D
    %td
      2005-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUMBLE
      , Darren
    %td
      D
    %td
      1990-92, 95-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SVOBODA
      , Petr
    %td
      D
    %td
      1994-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TIMANDER
      , Mattias
    %td
      D
    %td
      2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WATSON
      , Joe
    %td
      D
    %td
      1967-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WILSON
      , Behn
    %td
      D
    %td
      1978-83
%h3
  4
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ASHBEE
      , Barry
    %td
      D
    %td
      1970-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BLADON
      , Tom
    %td
      D
    %td
      1972-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GOODENOUGH
      , Larry
    %td
      D
    %td
      1974-77
  %tr
    %th{ :style => "text-align:left;" }
      MacSWEYN, Ralph
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MISZUK
      , John
    %td
      D
    %td
      1968-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SUZOR
      , Mark
    %td
      D
    %td
      1976-77
%h3
  5
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BATHE
      , Frank
    %td
      D
    %td
      1977-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BAUMGARTNER
      , Nolan
    %td
      D
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOLAND
      , Mike
    %td
      RW
    %td
      A.
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CHERRY
      , Dick
    %td
      D
    %td
      1968-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COBURN
      , Braydon
    %td
      D
    %td
      2006-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GAUTHIER
      , Jean
    %td
      D
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GOODENOUGH
      , Larry
    %td
      D
    %td
      1974-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HALLER
      , Kevin
    %td
      D
    %td
      1994-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HUFFMAN
      , Kerry
    %td
      D
    %td
      1986-92, 95-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HUGHES
      , Brent
    %td
      D
    %td
      1970-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOHNSSON
      , Kim
    %td
      D
    %td
      2001-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAJEUNESSE
      , Serge
    %td
      RW
    %td
      1973-75
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAPOINTE
      , Rick
    %td
      D
    %td
      1976-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LEACH
      , Reggie
    %td
      RW
    %td
      1974-82
  %tr
    %th{ :style => "text-align:left;" }
      McCARTHY, Kevin
    %td
      D
    %td
      1977-79, 85-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NATTRESS
      , Ric
    %td
      D
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RAMAGE
      , Rob
    %td
      D
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RICHTER
      , Dave
    %td
      D
    %td
      1985-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUMBLE
      , Darren
    %td
      D
    %td
      1990-92, 95-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SMITH
      , Steve
    %td
      D
    %td
      1981-82, 84-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TERTYSHNY
      , Dmitri
    %td
      D
    %td
      1998-99
%h3
  6
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ARTHUR
      , Fred
    %td
      D
    %td
      1981-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CHYCHRUN
      , Jeff
    %td
      D
    %td
      1986-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUPONT
      , Andre
    %td
      D
    %td
      1972-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ERIKSSON
      , Thomas
    %td
      D
    %td
      1980-82, 83-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HANNA
      , John
    %td
      D
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HILLMAN
      , Wayne
    %td
      D
    %td
      1969-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JONES
      , Randy
    %td
      D
    %td
      2003-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KORDIC
      , Dan
    %td
      D
    %td
      1991-92, 93-94, 95-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PATERSON
      , Joe
    %td
      LW
    %td
      1984-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SMYTH
      , Greg
    %td
      D
    %td
      1986-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STANLEY
      , Allan
    %td
      D
    %td
      1968-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        THERIEN
      , Chris
    %td
      D
    %td
      1994-04, 2005-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WESLEY
      , Blake
    %td
      D
    %td
      1979-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        YOUNG
      , Tim
    %td
      C
    %td
      1984-85
%h3
  7
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ANGOTTI
      , Lou
    %td
      C
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BARBER
      , Bill
    %td
      LW
    %td
      1972-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DOBBIN
      , Brian
    %td
      RW
    %td
      1986-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FISHER
      , Craig
    %td
      C
    %td
      1989-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LACROIX
      , Andre
    %td
      C
    %td
      1967-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PARIZEAU
      , Michel
    %td
      LW
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WELLS
      , Jay
    %td
      D
    %td
      1988-90
%h3
  8
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ANTOSKI
      , Shawn
    %td
      LW
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BARON
      , Murray
    %td
      D
    %td
      1989-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BLACKBURN
      , Don
    %td
      LW
    %td
      1967-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOWEN
      , Jason
    %td
      D
    %td
      1992-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DANIELS
      , Scott
    %td
      LW
    %td
      1996-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ERIKSSON
      , Thomas
    %td
      D
    %td
      1980-82, 83-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FITZPATRICK
      , Rory
    %td
      D
    %td
      2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOYDA
      , Dave
    %td
      LW
    %td
      1977-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HULL
      , Jody
    %td
      RW
    %td
      1998-99, 99-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUSHNER
      , Dale
    %td
      LW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MANTHA
      , Moe
    %td
      D
    %td
      1988-89, 91-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MARSH
      , Brad
    %td
      D
    %td
      1981-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MORRISON
      , Lew
    %td
      RW
    %td
      1969-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PETIT
      , Michel
    %td
      D
    %td
      1996-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RECCHI
      , Mark
    %td
      RW
    %td
      1991-95, 98-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SANDERSON
      , Geoff
    %td
      LW
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SCHULTZ
      , Dave
    %td
      LW
    %td
      1971-76
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WESLEY
      , Blake
    %td
      D
    %td
      1979-81
%h3
  9
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BAILEY
      , Reid
    %td
      D
    %td
      1980-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COCHRANE
      , Glen
    %td
      D/LW
    %td
      1978-79, 81-84
  %tr
    %th{ :style => "text-align:left;" }
      DiMAIO, Rob
    %td
      RW
    %td
      1993-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DVORAK
      , Miroslav
    %td
      D
    %td
      1982-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EKLUND
      , Pelle
    %td
      C
    %td
      1985-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FLEMING
      , Reggie
    %td
      LW
    %td
      1969-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GREIG
      , Mark
    %td
      RW
    %td
      1998-01, 2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KELLY
      , Bob
    %td
      LW
    %td
      1970-80
  %tr
    %th{ :style => "text-align:left;" }
      McAMMOND, Dean
    %td
      LW
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROCHEFORT
      , Leon
    %td
      RW
    %td
      1967-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUZICKA
      , Stefan
    %td
      RW
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SHARP
      , Patrick
    %td
      C
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SITTLER
      , Darryl
    %td
      C
    %td
      1982-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        UPSHALL
      , Scottie
    %td
      RW
    %td
      2006-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZUBRUS
      , Dainius
    %td
      LW
    %td
      1996-99
%h3
  10
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOIVIN
      , Claude
    %td
      LW
    %td
      1991-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRIDGMAN
      , Mel
    %td
      C
    %td
      1975-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BROSSART
      , Willie
    %td
      D
    %td
      1970-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BULLARD
      , Mike
    %td
      C
    %td
      1988-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CLEMENT
      , Bill
    %td
      C
    %td
      1971-75
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HLUSHKO
      , Todd
    %td
      LW
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUSHNER
      , Dale
    %td
      LW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      LeCLAIR, John
    %td
      LW
    %td
      1994-04
  %tr
    %th{ :style => "text-align:left;" }
      McCRIMMON, Brad
    %td
      D
    %td
      1982-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        QUINN
      , Dan
    %td
      C
    %td
      1991-92, 95-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROUPE
      , Magnus
    %td
      LW
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SCHMAUTZ
      , Cliff
    %td
      RW
    %td
      1970-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SELBY
      , Brit
    %td
      LW
    %td
      1967-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SUTHERLAND
      , Bill
    %td
      LW
    %td
      1967-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WRIGHT
      , Larry
    %td
      C
    %td
      1971-73, 75-76
%h3
  11
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        AMONTE
      , Tony
    %td
      RW
    %td
      2002-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DAIGLE
      , Alexandre
    %td
      LW
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DARBY
      , Craig
    %td
      C
    %td
      1996-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DINEEN
      , Kevin
    %td
      RW
    %td
      1991-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FLOCKHART
      , Ron
    %td
      C
    %td
      1980-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GENDRON
      , Jean-Guy
    %td
      LW
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HACHBORN
      , Len
    %td
      C
    %td
      1983-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HULL
      , Jody
    %td
      RW
    %td
      1998-99, 99-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KANE
      , Boyd
    %td
      LW
    %td
      2003-04, 06-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LATAL
      , Jiri
    %td
      D
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PLETKA
      , Vaclav
    %td
      LW
    %td
      2001-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        POTULNY
      , Ryan
    %td
      C
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        QUINN
      , Dan
    %td
      C
    %td
      1991-92, 95-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RECCHI
      , Mark
    %td
      RW
    %td
      1991-95, 98-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SALESKI
      , Don
    %td
      RW
    %td
      1971-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SEABROOKE
      , Glen
    %td
      C
    %td
      1986-89
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SHARP
      , Patrick
    %td
      C
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SILLINGER
      , Mike
    %td
      C
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SIM
      , Jon
    %td
      RW
    %td
      2005-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SUTHERLAND
      , Bill
    %td
      LW
    %td
      1967-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VERVERGAERT
      , Dennis
    %td
      RW
    %td
      1978-80
%h3
  12
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERUBE
      , Craig
    %td
      LW
    %td
      1986-91, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CUMMINS
      , Jim
    %td
      RW
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DORNHOEFER
      , Gary
    %td
      RW
    %td
      1967-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FORBES
      , Colin
    %td
      LW
    %td
      1996-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GAGNE
      , Simon
    %td
      LW
    %td
      1999-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JUHLIN
      , Patrik
    %td
      LW
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KERR
      , Tim
    %td
      C/RW
    %td
      1980-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PADDOCK
      , John
    %td
      RW
    %td
      1976-77, 79-80, 82-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PASLAWSKI
      , Greg
    %td
      C
    %td
      1992-93
%h3
  13
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CARCILLO
      , Dan
    %td
      LW
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAPOINTE
      , Claude
    %td
      C
    %td
      2002-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        METROPOLIT
      , Glen
    %td
      C
    %td
      2008-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MICHAYLUK
      , Dave
    %td
      RW
    %td
      1981-83
%h3
  14
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ANDERSSON
      , Mikael
    %td
      LW
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CULLEN
      , Matt
    %td
      C
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DANIELS
      , Kimbi
    %td
      RW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DARBY
      , Craig
    %td
      C
    %td
      1996-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HAMEL
      , Denis
    %td
      LW
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HANNIGAN
      , Pat
    %td
      RW
    %td
      1967-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JENSEN
      , Chris
    %td
      RW
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LINSEMAN
      , Ken
    %td
      C
    %td
      1978-82, 89-90
  %tr
    %th{ :style => "text-align:left;" }
      MacTAVISH, Craig
    %td
      C
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MANELUK
      , Mike
    %td
      LW
    %td
      1998-99, 99-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NODL
      , Andreas
    %td
      RW
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NOLET
      , Simon
    %td
      RW
    %td
      1967-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PEDERSON
      , Mark
    %td
      LW
    %td
      1990-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PROPP
      , Brian
    %td
      LW
    %td
      1979-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        QUINN
      , Dan
    %td
      C
    %td
      1991-92, 95-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        READY
      , Ryan
    %td
      LW
    %td
      2005-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUZICKA
      , Stefan
    %td
      RW
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SNUGGERUD
      , Dave
    %td
      C
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SUTTER
      , Ron
    %td
      C
    %td
      1982-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TIPPETT
      , Dave
    %td
      C
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WATSON
      , Joe
    %td
      D
    %td
      1967-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WHITE
      , Peter
    %td
      C
    %td
      1998-01, 2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WILLIAMS
      , Justin
    %td
      RW
    %td
      2000-04
%h3
  15
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CHOUINARD
      , Eric
    %td
      RW
    %td
      2002-04, 05-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CLEMENT
      , Bill
    %td
      C
    %td
      1971-75
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CONROY
      , Al
    %td
      RW
    %td
      1991-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CRISP
      , Terry
    %td
      C
    %td
      1972-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DAIGNEAULT
      , Jean-Jacques
    %td
      D
    %td
      1986-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DIMITRAKOS
      , Niko
    %td
      RW
    %td
      2005-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUPRE
      , Yanick
    %td
      LW
    %td
      1991-92, 94-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EVANS
      , Doug
    %td
      C
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FALLOON
      , Pat
    %td
      RW
    %td
      1995-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FISHER
      , Craig
    %td
      C
    %td
      1989-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GREIG
      , Mark
    %td
      RW
    %td
      1998-01, 2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HILL
      , Al
    %td
      LW
    %td
      1976-82, 86-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KASPER
      , Steve
    %td
      C
    %td
      1991-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KOVALENKO
      , Andrei
    %td
      LW
    %td
      1998-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUSHNER
      , Dale
    %td
      LW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LACROIX
      , Andre
    %td
      C
    %td
      1967-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LUCAS
      , Danny
    %td
      RW
    %td
      1978-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LUPUL
      , Joffrey
    %td
      RW
    %td
      2007-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MANELUK
      , Mike
    %td
      LW
    %td
      1998-99, 99-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MICKEY
      , Larry
    %td
      RW
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PARK
      , Richard
    %td
      C
    %td
      1998-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PETERS
      , Garry
    %td
      C
    %td
      1967-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUZICKA
      , Stefan
    %td
      RW
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SACCO
      , Joe
    %td
      RW
    %td
      2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SKALDE
      , Jarrod
    %td
      C
    %td
      2001-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SLANEY
      , John
    %td
      D
    %td
      2001-02, 2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SULLIMAN
      , Doug
    %td
      LW
    %td
      1988-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SUTTER
      , Rich
    %td
      RW
    %td
      1983-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TAYLOR
      , Mark
    %td
      C
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WHITE
      , Peter
    %td
      C
    %td
      1998-01, 2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WHITE
      , Todd
    %td
      C
    %td
      1999-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WRIGHT
      , Larry
    %td
      C
    %td
      1971-73, 75-76
%h3
  16
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CLARKE
      , Bobby
    %td
      C
    %td
      1969-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HANNIGAN
      , Pat
    %td
      RW
    %td
      1967-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAFORGE
      , Claude
    %td
      LW
    %td
      1967-68
%h3
  17
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERUBE
      , Craig
    %td
      LW
    %td
      1986-91, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOLAND
      , Mike
    %td
      RW
    %td
      A.
  %tr
    %th{ :style => "text-align:left;" }
      BRIND'AMOUR, Rod
    %td
      C/LW
    %td
      1991-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CARTER
      , Jeff
    %td
      C
    %td
      2005-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HALE
      , Larry
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HICKS
      , Wayne
    %td
      RW
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOLMGREN
      , Paul
    %td
      RW
    %td
      1975-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOSPODAR
      , Ed
    %td
      D
    %td
      1984-85, 86-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LEFEBVRE
      , Guillaume
    %td
      LW
    %td
      2001-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NOLET
      , Simon
    %td
      RW
    %td
      1967-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        OSBURN
      , Randy
    %td
      LW
    %td
      1974-75
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TIBBETTS
      , Billy
    %td
      RW
    %td
      2001-02
%h3
  18
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CARSON
      , Lindsay
    %td
      LW
    %td
      1981-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DOBBIN
      , Brian
    %td
      RW
    %td
      1986-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUPRE
      , Yanick
    %td
      LW
    %td
      1991-92, 94-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FEDYK
      , Brent
    %td
      RW
    %td
      1992-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HAWERCHUK
      , Dale
    %td
      C
    %td
      1995-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOEKSTRA
      , Ed
    %td
      C
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KALLIO
      , Tomi
    %td
      RW
    %td
      2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LANGKOW
      , Daymond
    %td
      C
    %td
      1998-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAWLESS
      , Paul
    %td
      LW
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LESUK
      , Bill
    %td
      LW
    %td
      1970-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LINSEMAN
      , Ken
    %td
      C
    %td
      1978-82, 89-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LONSBERRY
      , Ross
    %td
      LW
    %td
      1971-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MYHRES
      , Brantt
    %td
      RW
    %td
      1997-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PAIEMENT
      , Rosaire
    %td
      RW
    %td
      1967-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PRESTON
      , Yves
    %td
      LW
    %td
      1978-79, 80-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RICCI
      , Mike
    %td
      C
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RICHARDS
      , Mike
    %td
      C
    %td
      2005-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SHARP
      , Patrick
    %td
      C
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WARRINER
      , Todd
    %td
      LW
    %td
      2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WRIGHT
      , Jamie
    %td
      LW
    %td
      2002-03
%h3
  19
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ALLISON
      , Ray
    %td
      RW
    %td
      1981-85, 86-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BENNING
      , Brian
    %td
      D
    %td
      1991-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERGEN
      , Todd
    %td
      C
    %td
      1984-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERGLUND
      , Bo
    %td
      C
    %td
      1985-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERNIER
      , Serge
    %td
      C
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CALDER
      , Kyle
    %td
      LW
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CHOUINARD
      , Eric
    %td
      RW
    %td
      2002-04, 05-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DAIGLE
      , Alexandre
    %td
      LW
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUCHESNE
      , Steve
    %td
      D
    %td
      1991-92, 98-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HALE
      , Larry
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HARTNELL
      , Scott
    %td
      LW
    %td
      2007-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HEISKALA
      , Earl
    %td
      LW
    %td
      1968-71
  %tr
    %th{ :style => "text-align:left;" }
      MacLEISH, Rick
    %td
      LW
    %td
      1970-81, 83-84
  %tr
    %th{ :style => "text-align:left;" }
      MacSWEYN, Ralph
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MELLANBY
      , Scott
    %td
      RW
    %td
      1985-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PAIEMENT
      , Rosaire
    %td
      RW
    %td
      1967-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PELLETIER
      , Roger
    %td
      D
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RADIVOJEVIC
      , Branko
    %td
      RW
    %td
      2003-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RANHEIM
      , Paul
    %td
      LW
    %td
      2000-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RENBERG
      , Mikael
    %td
      RW
    %td
      1993-97, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STRATTON
      , Art
    %td
      C
    %td
      1967-69
%h3
  20
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BARRIE
      , Len
    %td
      RW
    %td
      1990-93
  %tr
    %th{ :style => "text-align:left;" }
      DiMAIO, Rob
    %td
      RW
    %td
      1993-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DINEEN
      , Kevin
    %td
      RW
    %td
      1991-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DIVISEK
      , Tomas
    %td
      RW
    %td
      2000-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DOPITA
      , Jiri
    %td
      C
    %td
      2001-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GENDRON
      , Jean-Guy
    %td
      LW
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HAWGOOD
      , Greg
    %td
      D
    %td
      1992-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOHNSON
      , Jimmy
    %td
      C
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JONES
      , Keith
    %td
      RW
    %td
      1998-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOYAL
      , Eddie
    %td
      C
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KLATT
      , Trent
    %td
      RW
    %td
      1995-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LACOMBE
      , Normand
    %td
      RW
    %td
      1990-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MAGUIRE
      , Kevin
    %td
      LW
    %td
      1989-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PAIEMENT
      , Rosaire
    %td
      RW
    %td
      1967-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PLANTE
      , Pierre
    %td
      RW
    %td
      1971-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        POULIN
      , Dave
    %td
      C
    %td
      1982-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SOMIK
      , Radovan
    %td
      LW
    %td
      2002-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        UMBERGER
      , R.J.
    %td
      C
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WATSON
      , Jimmy
    %td
      D
    %td
      1972-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WRIGHT
      , Keith
    %td
      LW
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WRIGHT
      , Larry
    %td
      C
    %td
      1971-73, 75-76
%h3
  21
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BATHE
      , Frank
    %td
      D
    %td
      1977-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERNIER
      , Serge
    %td
      C
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOULERICE
      , Jesse
    %td
      RW
    %td
      2001-02, 2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BROWN
      , Dave
    %td
      RW
    %td
      1982-89, 91-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BUSNIUK
      , Mike
    %td
      D
    %td
      1979-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CARRUTHERS
      , Dwight
    %td
      D
    %td
      1967-68
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CUNNINGHAM
      , Jimmy
    %td
      C
    %td
      1977-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EDESTRAND
      , Darryl
    %td
      D
    %td
      1969-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FLETT
      , Bill
    %td
      RW
    %td
      1971-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FORSBERG
      , Peter
    %td
      C
    %td
      2005-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GILLEN
      , Don
    %td
      RW
    %td
      1979-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HORACEK
      , Tony
    %td
      LW
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HUBACEK
      , Petr
    %td
      C
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOHNSON
      , Jimmy
    %td
      C
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KANE
      , Boyd
    %td
      LW
    %td
      2003-04, 06-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KORDIC
      , Dan
    %td
      D
    %td
      1991-92, 93-94, 95-99
  %tr
    %th{ :style => "text-align:left;" }
      MacLEISH, Rick
    %td
      LW
    %td
      1970-81, 83-84
  %tr
    %th{ :style => "text-align:left;" }
      MacSWEYN, Ralph
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      McCARTHY, Sandy
    %td
      RW
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MORRISON
      , Gary
    %td
      RW
    %td
      1979-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NOLET
      , Simon
    %td
      RW
    %td
      1967-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PADDOCK
      , John
    %td
      RW
    %td
      1976-77, 79-80, 82-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SARRAZIN
      , Dick
    %td
      RW
    %td
      1968-70, 71-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SECORD
      , Al
    %td
      LW
    %td
      1988-89
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SIKLENKA
      , Mike
    %td
      RW
    %td
      2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SIROIS
      , Bob
    %td
      RW
    %td
      1974-75
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SMITH
      , Jason
    %td
      D
    %td
      2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WRIGHT
      , Larry
    %td
      C
    %td
      1971-73, 75-76
%h3
  22
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BENNETT
      , Harvey
    %td
      LW
    %td
      1976-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BUTSAYEV
      , Viacheslav
    %td
      C
    %td
      1992-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BYERS
      , Mike
    %td
      RW
    %td
      1968-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CORKUM
      , Bob
    %td
      C
    %td
      1995-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DANIELS
      , Scott
    %td
      LW
    %td
      1996-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FITZPATRICK
      , Ross
    %td
      LW
    %td
      1982-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FOLEY
      , Rick
    %td
      D/LW
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GORENCE
      , Tom
    %td
      RW
    %td
      1978-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KENNEDY
      , Forbes
    %td
      C
    %td
      1967-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KNUBLE
      , Mike
    %td
      RW
    %td
      2005-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAMB
      , Mark
    %td
      C
    %td
      1993-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MONTGOMERY
      , Jim
    %td
      C
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NOLET
      , Simon
    %td
      RW
    %td
      1967-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PELUSO
      , Mike
    %td
      RW
    %td
      2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RICHARDSON
      , Luke
    %td
      D
    %td
      1997-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SCHOCK
      , Danny
    %td
      LW
    %td
      1970-71
  %tr
    %th{ :style => "text-align:left;" }
      ST.
      %span.caps
        JACQUES
      , Bruno
    %td
      D
    %td
      2001-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SWARBRICK
      , George
    %td
      RW
    %td
      1970-71
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TOCCHET
      , Rick
    %td
      RW
    %td
      1984-92, 99-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        YUSHKEVICH
      , Dmitry
    %td
      D
    %td
      1992-95, 02-03
%h3
  23
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BARNES
      , Norm
    %td
      D
    %td
      1976-77, 79-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BLADON
      , Tom
    %td
      D
    %td
      1972-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COLLINS
      , Bill
    %td
      RW
    %td
      1976-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DROLET
      , Rene
    %td
      C
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ELLISON
      , Matt
    %td
      RW
    %td
      2005-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EVANS
      , John
    %td
      C
    %td
      1978-79, 80-81, 82-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GARDNER
      , Dave
    %td
      C
    %td
      1979-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GAUTHIER
      , Denis
    %td
      D
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GOODENOUGH
      , Larry
    %td
      D
    %td
      1974-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GREIG
      , Mark
    %td
      RW
    %td
      1998-01, 2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HALE
      , Larry
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KEENAN
      , Larry
    %td
      LW/C
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LEFEBVRE
      , Guillaume
    %td
      LW
    %td
      2001-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LOMAKIN
      , Andrei
    %td
      LW
    %td
      1991-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MALGUNAS
      , Stewart
    %td
      D
    %td
      1993-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MEEHAN
      , Gerry
    %td
      C
    %td
      1968-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURRAY
      , Pat
    %td
      LW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SINISALO
      , Ilkka
    %td
      L/RW
    %td
      1981-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STANKIEWICZ
      , Myron
    %td
      RW
    %td
      1968-69
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SVOBODA
      , Petr
    %td
      D
    %td
      1994-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SYKORA
      , Michal
    %td
      D
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VAANANEN
      , Ossi
    %td
      D
    %td
      2008-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VANDERMEER
      , Jim
    %td
      D
    %td
      2002-04, 2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WHITE
      , Todd
    %td
      C
    %td
      1999-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZHAMNOV
      , Alexei
    %td
      C
    %td
      2003-04
%h3
  24
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BALL
      , Terry
    %td
      D
    %td
      1967-68, 69-70
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DALLMAN
      , Rod
    %td
      C
    %td
      1991-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DORNHOEFER
      , Gary
    %td
      RW
    %td
      1967-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DYKHUIS
      , Karl
    %td
      D
    %td
      1994-97, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GRATTON
      , Josh
    %td
      LW
    %td
      2005-06, 2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOFFMEYER
      , Bob
    %td
      D
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOLT
      , Randy
    %td
      D/RW
    %td
      1983-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOSEPH
      , Chris
    %td
      D
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KAPANEN
      , Sami
    %td
      LW
    %td
      2002-08
  %tr
    %th{ :style => "text-align:left;" }
      MacSWEYN, Ralph
    %td
      D
    %td
      1968-72
  %tr
    %th{ :style => "text-align:left;" }
      McALLISTER, Chris
    %td
      D
    %td
      2000-03
  %tr
    %th{ :style => "text-align:left;" }
      McLEOD, Don
    %td
      G
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURRAY
      , Pat
    %td
      LW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURRAY
      , Terry
    %td
      D
    %td
      1975-77, 78-79, 80-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SARRAZIN
      , Dick
    %td
      RW
    %td
      1968-70, 71-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SMITH
      , Derrick
    %td
      LW
    %td
      1984-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SMITH
      , Steve
    %td
      D
    %td
      1981-82, 84-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VOPAT
      , Roman
    %td
      LW
    %td
      1998-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WILKIE
      , Bob
    %td
      D
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZALAPSKI
      , Zarley
    %td
      D
    %td
      1999-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZEIDEL
      , Larry
    %td
      D
    %td
      1967-69
%h3
  25
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ACTON
      , Keith
    %td
      C
    %td
      1988-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ADAMS
      , Greg
    %td
      LW
    %td
      1980-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BARNES
      , Norm
    %td
      D
    %td
      1976-77, 79-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BROSSART
      , Willie
    %td
      D
    %td
      1970-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CARLE
      , Matt
    %td
      D
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUCHESNE
      , Steve
    %td
      D
    %td
      1991-92, 98-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EVANS
      , John
    %td
      C
    %td
      1978-79, 80-81, 82-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FINLEY
      , Jeff
    %td
      D
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GUAY
      , Paul
    %td
      RW
    %td
      1983-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HARRIS
      , Ted
    %td
      D
    %td
      1974-75
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JOSEPH
      , Chris
    %td
      D
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KOVALENKO
      , Andrei
    %td
      LW
    %td
      1998-99
  %tr
    %th{ :style => "text-align:left;" }
      MacADAM, Al
    %td
      LW
    %td
      1973-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MAIR
      , Jimmy
    %td
      D
    %td
      1970-72
  %tr
    %th{ :style => "text-align:left;" }
      McCARTHY, Kevin
    %td
      D
    %td
      1977-79, 85-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURRAY
      , Terry
    %td
      D
    %td
      1975-77, 78-79, 80-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PLANTE
      , Pierre
    %td
      RW
    %td
      1971-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PODIEN
      , Shjon
    %td
      LW
    %td
      1994-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        POTVIN
      , Jean
    %td
      D
    %td
      1971-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PRIMEAU
      , Keith
    %td
      C
    %td
      1999-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SALESKI
      , Don
    %td
      RW
    %td
      1971-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SCHULTZ
      , Dave
    %td
      LW
    %td
      1971-76
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STEVENS
      , Kevin
    %td
      LW
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        THORESEN
      , Patrick
    %td
      LW
    %td
      2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZEZEL
      , Peter
    %td
      C
    %td
      1984-88
%h3
  26
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BUTSAYEV
      , Viacheslav
    %td
      C
    %td
      1992-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CROWE
      , Phil
    %td
      RW
    %td
      1995-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DRUCE
      , John
    %td
      RW
    %td
      1995-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EMINGER
      , Steve
    %td
      D
    %td
      2008-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FEDOTENKO
      , Ruslan
    %td
      LW
    %td
      2000-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HANDZUS
      , Michal
    %td
      C
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOSTAK
      , Martin
    %td
      C
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HYNES
      , Gord
    %td
      D
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KINDRACHUK
      , Orest
    %td
      C
    %td
      1972-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LINSEMAN
      , Ken
    %td
      C
    %td
      1978-82, 89-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MODRY
      , Jaroslav
    %td
      D
    %td
      2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PROPP
      , Brian
    %td
      LW
    %td
      1979-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        REID
      , Darren
    %td
      RW
    %td
      2006-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SYVRET
      , Danny
    %td
      D
    %td
      2008-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VANDERMEER
      , Jim
    %td
      D
    %td
      2002-04, 2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZELEPUKIN
      , Valeri
    %td
      LW
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZETTLER
      , Rob
    %td
      D
    %td
      1993-95
%h3
  27
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        AFANASENKOV
      , Dmitry
    %td
      LW
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COWICK
      , Bruce
    %td
      LW
    %td
      1973-74
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DOWNIE
      , Steve
    %td
      RW
    %td
      2007-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ERIKSSON
      , Thomas
    %td
      D
    %td
      1980-82, 83-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HEXTALL
      , Ron
    %td
      G
    %td
      1986-92, 94-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HLAVAC
      , Jan
    %td
      LW
    %td
      2001-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LEACH
      , Reggie
    %td
      RW
    %td
      1974-82
  %tr
    %th{ :style => "text-align:left;" }
      McGILL, Ryan
    %td
      D
    %td
      1992-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROBITAILLE
      , Randy
    %td
      C
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SAVAGE
      , Andre
    %td
      C
    %td
      2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SITTLER
      , Darryl
    %td
      C
    %td
      1982-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STEVENSON
      , Turner
    %td
      RW
    %td
      2005-06
%h3
  28
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOTELL
      , Mark
    %td
      D
    %td
      1981-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOWEN
      , Jason
    %td
      D
    %td
      1992-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BUREAU
      , Marc
    %td
      C
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BUSNIUK
      , Mike
    %td
      D
    %td
      1979-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CALLANDER
      , Drew
    %td
      RW
    %td
      1976-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUCHESNE
      , Steve
    %td
      D
    %td
      1991-92, 98-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUPONT
      , Andre
    %td
      D
    %td
      1972-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GIROUX
      , Claude
    %td
      RW
    %td
      2007-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HILL
      , Al
    %td
      LW
    %td
      1976-82, 86-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KANE
      , Boyd
    %td
      LW
    %td
      2003-04, 06-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUKKONEN
      , Lasse
    %td
      D
    %td
      2006-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LEMELIN
      , Rejean (
      %span.caps
        DNP
      )
    %td
      G
    %td
      1977-78
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MANDERVILLE
      , Kent
    %td
      C
    %td
      1999-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PATERSON
      , Joe
    %td
      LW
    %td
      1984-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PRINTZ
      , David
    %td
      D
    %td
      2005-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RAGNARSSON
      , Marcus
    %td
      D
    %td
      2002-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SAMUELSSON
      , Kjell
    %td
      D
    %td
      1986-92, 95-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SEIDENBERG
      , Dennis
    %td
      D
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STANLEY
      , Daryl
    %td
      D
    %td
      1983-84, 85-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VERVERGAERT
      , Dennis
    %td
      RW
    %td
      1978-80
%h3
  29
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CARKNER
      , Terry
    %td
      D
    %td
      1988-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COCHRANE
      , Glen
    %td
      D/LW
    %td
      1978-79, 81-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CRISP
      , Terry
    %td
      C
    %td
      1972-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DEAN
      , Barry
    %td
      LW
    %td
      1977-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DYKHUIS
      , Karl
    %td
      D
    %td
      1994-97, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FEDORUK
      , Todd
    %td
      LW
    %td
      2000-04, 06-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FOTIU
      , Nick
    %td
      LW
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GOODENOUGH
      , Larry
    %td
      D
    %td
      1974-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GUENIN
      , Nate
    %td
      D
    %td
      2006-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JONES
      , Randy
    %td
      D
    %td
      2003-**
  %tr
    %th{ :style => "text-align:left;" }
      McGILL, Ryan
    %td
      D
    %td
      1992-95
  %tr
    %th{ :style => "text-align:left;" }
      McILHARGEY, Jack
    %td
      D
    %td
      1974-77, 79-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ODJICK
      , Gino
    %td
      LW
    %td
      1999-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        OTTO
      , Joel
    %td
      C
    %td
      1995-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PICARD
      , Alexandre
    %td
      D
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RACINE
      , Yves
    %td
      D
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STANLEY
      , Daryl
    %td
      D
    %td
      1983-84, 85-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VOPAT
      , Roman
    %td
      LW
    %td
      1998-99
%h3
  30
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BELHUMEUR
      , Michel
    %td
      G
    %td
      1972-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GAMBLE
      , Bruce
    %td
      G
    %td
      1970-72
  %tr
    %th{ :style => "text-align:left;" }
      1971-72
    %td
      %span.caps
        GILLOW
      , Russ (
      %span.caps
        DNP
      )
    %td
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOFFORT
      , Bruce
    %td
      G
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        INNESS
      , Gary
    %td
      G
    %td
      1975-77
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JENSEN
      , Darren
    %td
      G
    %td
      1984-86
  %tr
    %th{ :style => "text-align:left;" }
      McLEOD, Don
    %td
      G
    %td
      1971-72
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NIITTYMAKI
      , Antero
    %td
      G
    %td
      2003-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PARENT
      , Bernie
    %td
      G
    %td
      1967-71, 73-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SETTLEMYRE
      , Dave (
      %span.caps
        DNP
      )
    %td
      G
    %td
      1989-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SNOW
      , Garth
    %td
      G
    %td
      1995-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SODERSTROM
      , Tommy
    %td
      G
    %td
      1992-94
  %tr
    %th{ :style => "text-align:left;" }
      ST.
      %span.caps
        CROIX
      , Rick
    %td
      G
    %td
      1977-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TAYLOR
      , Bobby
    %td
      G
    %td
      1971-76
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        YOUNG
      , Wendell
    %td
      G
    %td
      1987-88
%h3
  31
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BATHE
      , Frank
    %td
      D
    %td
      1977-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LINDBERGH
      , Pelle
    %td
      G
    %td
      1981-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MYRE
      , Phil
    %td
      G
    %td
      1979-81
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RITCHIE
      , Bob
    %td
      LW
    %td
      1976-77
%h3
  32
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BAST
      , Ryan
    %td
      D
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERUBE
      , Craig
    %td
      LW
    %td
      1986-91, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BROWN
      , Dave
    %td
      RW
    %td
      1982-89, 91-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CECHMANEK
      , Roman
    %td
      G
    %td
      2000-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COTE
      , Riley
    %td
      LW
    %td
      2006-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CRAVEN
      , Murray
    %td
      LW/C
    %td
      1984-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUNLOP
      , Blake
    %td
      C
    %td
      1977-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FITZPATRICK
      , Ross
    %td
      LW
    %td
      1982-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GRENIER
      , Martin
    %td
      D
    %td
      2006-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LACROIX
      , Daniel
    %td
      LW
    %td
      1996-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PADDOCK
      , John
    %td
      RW
    %td
      1976-77, 79-80, 82-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SHARP
      , Patrick
    %td
      C
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WINNES
      , Chris
    %td
      RW
    %td
      1993-94
%h3
  33
%table
  %tr
    %th{ :style => "text-align:left;" }
      1985-86
    %td
      %span.caps
        BLOSKI
      , Mike (
      %span.caps
        DNP
      )
    %td
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOUCHER
      , Brian
    %td
      G
    %td
      1999-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BURKE
      , Sean
    %td
      G
    %td
      1997-98, 2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COTE
      , Riley
    %td
      LW
    %td
      2006-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HACKETT
      , Jeff
    %td
      G
    %td
      2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JENSEN
      , Darren
    %td
      G
    %td
      1984-86
  %tr
    %th{ :style => "text-align:left;" }
      LaFOREST, Mark
    %td
      G
    %td
      1987-89
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAROCQUE
      , Michel
    %td
      G
    %td
      1982-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MRAZEK
      , Jerome
    %td
      G
    %td
      1975-76
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PEETERS
      , Pete
    %td
      G
    %td
      1978-82, 89-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RESCH
      , Glenn
    %td
      G
    %td
      1985-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROUSSEL
      , Dominic
    %td
      G
    %td
      1991-96, 96-97
%h3
  34
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BAILEY
      , Reid
    %td
      D
    %td
      1980-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BARRIE
      , Len
    %td
      RW
    %td
      1990-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERUBE
      , Craig
    %td
      LW
    %td
      1986-91, 98-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOWEN
      , Jason
    %td
      D
    %td
      1992-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRICKLEY
      , Andy
    %td
      LW
    %td
      1982-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DOWD
      , Jim
    %td
      C
    %td
      2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FITZPATRICK
      , Ross
    %td
      LW
    %td
      1982-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GILLIS
      , Jere
    %td
      LW
    %td
      1986-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GUAY
      , Paul
    %td
      RW
    %td
      1983-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HARDING
      , Jeff
    %td
      RW
    %td
      1988-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOFFMEYER
      , Bob
    %td
      D
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      MacNEIL, Ian
    %td
      C
    %td
      2002-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MEYER
      , Freddy
    %td
      D
    %td
      2003-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PATTERSON
      , Dennis
    %td
      D
    %td
      1979-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        POULIN
      , Dave
    %td
      C
    %td
      1982-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RICHTER
      , Dave
    %td
      D
    %td
      1985-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROOT
      , Bill
    %td
      D
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SEMENOV
      , Anatoli
    %td
      C
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STANLEY
      , Daryl
    %td
      D
    %td
      1983-84, 85-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VANBIESBROUCK
      , John
    %td
      G
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WILLIAMS
      , Gordie
    %td
      C
    %td
      1981-83
%h3
  35
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BAILEY
      , Reid
    %td
      D
    %td
      1980-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BEAUREGARD
      , Stephane
    %td
      G
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BELHUMEUR
      , Michel
    %td
      G
    %td
      1972-73
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CHABOT
      , Frederic
    %td
      G
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COCHRANE
      , Glen
    %td
      D/LW
    %td
      1978-79, 81-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FOSTER
      , Norm (
      %span.caps
        DNP
      )
    %td
      G
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FROESE
      , Bob
    %td
      G
    %td
      1982-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GREENLAY
      , Mike (
      %span.caps
        DNP
      )
    %td
      G
    %td
      1994-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOFFMEYER
      , Bob
    %td
      D
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOULE
      , Martin
    %td
      G
    %td
      2006-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUNTAR
      , Les (
      %span.caps
        DNP
      )
    %td
      G
    %td
      1994-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LITTLE
      , Neil
    %td
      G
    %td
      1996-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MICHAYLUK
      , Dave
    %td
      RW
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STEPHENSON
      , Wayne
    %td
      G
    %td
      1974-79
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STORR
      , Jamie (
      %span.caps
        DNP
      )
    %td
      G
    %td
      2005-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TAYLOR
      , Mark
    %td
      C
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WILLIAMS
      , Gordie
    %td
      C
    %td
      1981-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WREGGET
      , Ken
    %td
      G
    %td
      1988-92
%h3
  36
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ADAMS
      , Greg
    %td
      LW
    %td
      1980-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ALLISON
      , Ray
    %td
      RW
    %td
      1981-85, 86-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BAILEY
      , Reid
    %td
      D
    %td
      1980-82
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOULERICE
      , Jesse
    %td
      RW
    %td
      2001-02, 2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CLARKE
      , Bobby
    %td
      C
    %td
      1969-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ELLISON
      , Matt
    %td
      RW
    %td
      2005-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FAUST
      , Andre
    %td
      LW
    %td
      1992-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GORENCE
      , Tom
    %td
      RW
    %td
      1978-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HACHBORN
      , Len
    %td
      C
    %td
      1983-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HILL
      , Al
    %td
      LW
    %td
      1976-82, 86-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KAVANAGH
      , Pat
    %td
      RW
    %td
      2005-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KUSHNER
      , Dale
    %td
      LW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LACOMBE
      , Normand
    %td
      RW
    %td
      1990-91
  %tr
    %th{ :style => "text-align:left;" }
      McCARTHY, Kevin
    %td
      D
    %td
      1977-79, 85-87
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MOKOSAK
      , Carl
    %td
      LW
    %td
      1985-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        POWE
      , Darroll
    %td
      C
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROBERTS
      , Gordie
    %td
      D
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUMBLE
      , Darren
    %td
      D
    %td
      1990-92, 95-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SEIDENBERG
      , Dennis
    %td
      D
    %td
      2002-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WALZ
      , Wes
    %td
      C
    %td
      1991-93
%h3
  37
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ANDERSON
      , Shawn
    %td
      D
    %td
      1994-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERGLUND
      , Bo
    %td
      C
    %td
      1985-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DESJARDINS
      , Eric
    %td
      D
    %td
      1994-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FREER
      , Mark
    %td
      C
    %td
      1986-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HILL
      , Al
    %td
      LW
    %td
      1976-82, 86-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAMOUREUX
      , Mitch
    %td
      C
    %td
      1987-89
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TOOKEY
      , Tim
    %td
      C
    %td
      1986-87
%h3
  38
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HEALY
      , Paul
    %td
      RW
    %td
      1996-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PLANTE
      , Derek
    %td
      C
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WASHBURN
      , Steve
    %td
      C
    %td
      1999-00, 2000-01
%h3
  39
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FENYVES
      , Dave
    %td
      D
    %td
      1987-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FITZPATRICK
      , Ross
    %td
      LW
    %td
      1982-86
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LANK
      , Jeff
    %td
      D
    %td
      1999-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MOORE
      , Robbie
    %td
      G
    %td
      1978-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURRAY
      , Marty
    %td
      C
    %td
      2001-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MURRAY
      , Mike
    %td
      C
    %td
      1987-88
%h3
  40
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOIVIN
      , Claude
    %td
      LW
    %td
      1991-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRIMANIS
      , Aris
    %td
      D
    %td
      1993-94, 95-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CHYCHRUN
      , Jeff
    %td
      D
    %td
      1986-91
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MELOCHE
      , Eric
    %td
      RW
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PROSPAL
      , Vaclav
    %td
      C
    %td
      1996-98, 2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RUZICKA
      , Stefan
    %td
      RW
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SLOANE
      , David
    %td
      D
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SMYTH
      , Greg
    %td
      D
    %td
      1986-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZENT
      , Jason
    %td
      LW
    %td
      1998-00
%h3
  41
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ALBERTS
      , Andrew
    %td
      D
    %td
      2008-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BURKE
      , Sean
    %td
      G
    %td
      1997-98, 2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOLAN
      , Milos
    %td
      D
    %td
      1993-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MULVENNA
      , Glenn
    %td
      LW
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PEDERSON
      , Mark
    %td
      LW
    %td
      1990-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PICARD
      , Alexandre
    %td
      D
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STEVENS
      , John
    %td
      D
    %td
      1986-88
%h3
  42
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERANEK
      , Josef
    %td
      LW
    %td
      1992-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BERGEN
      , Todd
    %td
      C
    %td
      1984-85
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ESCHE
      , Robert
    %td
      G
    %td
      2002-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MANTHA
      , Moe
    %td
      D
    %td
      1988-89, 91-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NACHBAUR
      , Don
    %td
      LW
    %td
      1985-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PICARD
      , Michel
    %td
      LW
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROMANIUK
      , Russ
    %td
      RW
    %td
      1995-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROSS
      , Jared
    %td
      C
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      ST.
      %span.caps
        JACQUES
      , Bruno
    %td
      D
    %td
      2001-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZUBRUS
      , Dainius
    %td
      LW
    %td
      1996-99
%h3
  43
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BIRON
      , Martin
    %td
      G
    %td
      2006-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DELMORE
      , Andy
    %td
      D
    %td
      1998-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FLOCKHART
      , Ron
    %td
      C
    %td
      1980-83
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HORACEK
      , Tony
    %td
      LW
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JONSSON
      , Lars
    %td
      D
    %td
      2006-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MALGUNAS
      , Stewart
    %td
      D
    %td
      1993-95
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SKOLNEY
      , Wade
    %td
      D
    %td
      2005-06
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VERVERGAERT
      , Dennis
    %td
      RW
    %td
      1978-80
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        VILGRAIN
      , Claude
    %td
      C
    %td
      1993-94
%h3
  44
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BABYCH
      , Dave
    %td
      D
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COCHRANE
      , Glen
    %td
      D/LW
    %td
      1978-79, 81-84
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CRONIN
      , Shawn
    %td
      D
    %td
      1992-93
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EATON
      , Mark
    %td
      D
    %td
      1999-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FOSTER
      , Corey
    %td
      D
    %td
      1991-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HUBER
      , Willie
    %td
      D
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NIINIMAA
      , Janne
    %td
      D
    %td
      1996-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PITKANEN
      , Joni
    %td
      D
    %td
      2003-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SEMENOV
      , Anatoli
    %td
      C
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STOCK
      , P.J.
    %td
      C
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        STOTHERS
      , Mike
    %td
      C
    %td
      1984-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TIMONEN
      , Kimmo
    %td
      D
    %td
      2007-**
%h3
  45
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ASHAM
      , Aaron
    %td
      RW
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DIONNE
      , Gilbert
    %td
      LW
    %td
      1994-96
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FREER
      , Mark
    %td
      C
    %td
      1986-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JENSEN
      , Chris
    %td
      RW
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PICARD
      , Alexandre
    %td
      D
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PROSPAL
      , Vaclav
    %td
      C
    %td
      1996-98, 2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SLANEY
      , John
    %td
      D
    %td
      2001-02, 2003-04
%h3
  46
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BIGGS
      , Don
    %td
      C
    %td
      1989-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        CONROY
      , Al
    %td
      RW
    %td
      1991-94
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DANIELS
      , Kimbi
    %td
      RW
    %td
      1990-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GRATTON
      , Josh
    %td
      LW
    %td
      2005-06, 2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        KALINSKI
      , Jon
    %td
      LW
    %td
      2008-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TIMONEN
      , Jussi
    %td
      D
    %td
      2006-07
%h3
  47
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HUBER
      , Willie
    %td
      D
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JONES
      , Brad
    %td
      LW
    %td
      1991-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LAW
      , Kirby
    %td
      RW
    %td
      2000-01, 2002-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SABOL
      , Shaun
    %td
      D
    %td
      1989-90
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SBISA
      , Luca
    %td
      D
    %td
      2008-09
%h3
  48
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRIERE
      , Danny
    %td
      C
    %td
      2007-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FORBES
      , Colin
    %td
      LW
    %td
      1996-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MEYER
      , Freddy
    %td
      D
    %td
      2003-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROOT
      , Bill
    %td
      D
    %td
      1987-88
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SIMPSON
      , Reid
    %td
      LW
    %td
      1991-92
%h3
  49
%table
  %tr
    %th{ :style => "text-align:left;" }
      D'AMOUR, Marc
    %td
      G
    %td
      1988-89
  %tr
    %th{ :style => "text-align:left;" }
      1987-88
    %td
      %span.caps
        GILMOUR
      , Darryl (
      %span.caps
        DNP
      )
    %td
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LEIGHTON
      , Michael
    %td
      G
    %td
      2006-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        OUELLET
      , Maxime
    %td
      G
    %td
      2000-01
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PELLETIER
      , Jean-Marc
    %td
      G
    %td
      1998-00
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SAVAGE
      , Brian
    %td
      LW
    %td
      2005-06
%h3
  50
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SANDELIN
      , Scott
    %td
      D
    %td
      1990-91
%h3
  51
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FRITSCH
      , Jamie
    %td
      D
    %td
      2008-09
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        JONES
      , Randy
    %td
      D
    %td
      2003-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SHARP
      , Patrick
    %td
      C
    %td
      2002-06
%h3
  52
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        FEDORUK
      , Todd
    %td
      LW
    %td
      2000-04, 06-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GRANT
      , Tristen
    %td
      LW
    %td
      2006-08
%h3
  53
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BOWEN
      , Jason
    %td
      D
    %td
      1992-97
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TOLPEKO
      , Denis
    %td
      RW
    %td
      2007-08
%h3
  54
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PRINTZ
      , David
    %td
      D
    %td
      2005-07
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        WESENBERG
      , Brian
    %td
      RW
    %td
      1998-00
%h3
  55
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRENDL
      , Pavel
    %td
      RW
    %td
      2001-03
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        EAGER
      , Ben
    %td
      LW
    %td
      2005-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GRATTON
      , Chris
    %td
      C
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MARKOV
      , Danny
    %td
      D
    %td
      2003-04
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        SAMUELSSON
      , Ulf
    %td
      D
    %td
      1999-00
%h3
  56
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GIROUX
      , Claude
    %td
      RW
    %td
      2007-**
%h3
  58
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ARMSTRONG
      , Bill
    %td
      LW
    %td
      H.
%h3
  60
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        RADUNS
      , Nate
    %td
      RW
    %td
      2008-09
%h3
  61
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        YORK
      , Mike
    %td
      C
    %td
      2006-07
%h3
  62
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LATAL
      , Jiri
    %td
      D
    %td
      1989-92
%h3
  65
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GREENTREE
      , Kyle
    %td
      LW
    %td
      2007-08
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GUENIN
      , Nate
    %td
      D
    %td
      2006-09
%h3
  66
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        DUPRE
      , Yanick
    %td
      LW
    %td
      1991-92, 94-96
%h3
  67
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        MUNROE
      , Scott (
      %span.caps
        DNP
      )
    %td
      G
    %td
      2006-09
%h3
  68
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        HOFFORT
      , Bruce
    %td
      G
    %td
      1989-92
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LACOMBE
      , Normand
    %td
      RW
    %td
      1990-91
%h3
  77
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COFFEY
      , Paul
    %td
      D
    %td
      1996-98
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        GRATTON
      , Chris
    %td
      C
    %td
      1997-99
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        OATES
      , Adam
    %td
      C
    %td
      2001-02
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        PARENT
      , Ryan
    %td
      D
    %td
      2006-**
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ZHITNIK
      , Alexei
    %td
      D
    %td
      2006-07
%h3
  87
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        BRASHEAR
      , Donald
    %td
      LW
    %td
      2001-06
%h3
  88
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        LINDROS
      , Eric
    %td
      C
    %td
      1992-00
%h3
  89
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        COMRIE
      , Mike
    %td
      C
    %td
      2003-04
%h3
  92
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        TOCCHET
      , Rick
    %td
      RW
    %td
      1984-92, 99-02
%h3
  93
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        NEDVED
      , Petr
    %td
      C
    %td
      2005-07
%h3
  97
%table
  %tr
    %th{ :style => "text-align:left;" }
      %span.caps
        ROENICK
      , Jeremy
    %td
      C
    %td
      2001-04
