%h1 By Player Name
%table{ :class => 'traditional_table' }
  %tr
    %th Player
    %th Position
    %th Years as a Flyer
    %th Numbers Worn
  - @players.each do |player|
    %tr
      %td= player['name']
      %td= player['position']
      %td= player['years']
      %td= player['numbers'].join( ', ' )